for loop

In [ ]:
a=int(input("number"))
if a%13==0:
  print("true")
else:
  print("false")

number26
true

In [ ]:
for i in range(0,100):
  if i%13==0:
    print("true")
  else:
    print("false")

true
false
false
false
false
false
false
false
false
false
false
false
false
true
false
false
false
false
false
false
false
false
false
false
false
false
true
false
false
false
false
false
false
false
false
false
false
false
false
true
false
false
false
false
false
false
false
false
false
false
false
false
true
false
false
false
false
false
false
false
false
false
false
false
false
true
false
false
false
false
false
false
false
false
false
false
false
false
true
false
false
false
false
false
false
false
false
false
false
false
false
true
false
false
false
false
false
false
false
false

In [ ]:
list1=[]
for i in range(1,29):
  if i%13==0:
    print(i)
  else:
    print("can't be divided")

can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
13
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
can't be divided
26
can't be divided
can't be divided

write a code to find numbers between 0 to 29 which are divisible by 13

In [ ]:
a=int(input())

count=0

for i in range(0,100):
  if i%13==0:
    print(i)
    count=count+1
    print("count",count)
  if count>=a:
    break

5
0
count 1
13
count 2
26
count 3
39
count 4
52
count 5

let's find 153 is armstrong or not.

In [ ]:
n='153'
sum=0
for i in n:
  i=int(i)**3
  print(i)
  sum=sum+i
if sum==int(n):
   print("Armstrong")
else:
    print('not')

1
125
27
Armstrong

let's check a number is armstrong or not

In [ ]:
a=str(input())
sum=0
for i in a:
  print(i)
  i=int(i)**3
  sum=sum+i
if sum==int(a):
    print('Armstrong')
else:
    print('not')

153
1
5
3
Armstrong

let's find the armstrong numbers in a range of 1 to 500

In [ ]:
b=range(1,500)
count=0
total=int(input())
for i in b:
  sum=0
  for n in str(i):
    n=int(n)**3
    sum=sum+n
  if sum==int(i):
    print(sum,'the number is armstrong')
    count=count+1
  if count>=total:
    break

3
1 the number is armstrong
153 the number is armstrong
370 the number is armstrong

In [ ]:
c=range(1,500)
total=int(input())
count=0
for i in c:
  sum=0
  for n in str(i):
    n=int(n)**3
    sum=sum+n
  if sum==int(i):
    print(sum,'the number is armstrong')
    count=count+1
  if count>=total:
    break

5
1 the number is armstrong
153 the number is armstrong
370 the number is armstrong
371 the number is armstrong
407 the number is armstrong

In [ ]:
d=range(2,5000)
count=0
total=int(input())
for i in d:
  sum=0
  for n in str(i):
    n=int(n)**3
    sum=sum+n
  if sum==int(i):
    print(sum,'the number is armstrong')
    count=count+1
  if count>=total:
    break

10
153 the number is armstrong
370 the number is armstrong
371 the number is armstrong
407 the number is armstrong

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
i=0
while(i<5):
  print(i)
  i=i+1   #i+=1

0
1
2
3
4

In [ ]:
count=0
total=int(input())
for i in range(1,100):
  if i%13==0:
    print(i)
    count=count+1
  if count>=total:
    break

5
13
26
39
52
65

In [ ]:
i=1
count=0
while(count<5):
  if i%13==0:
    print(i)
    count=count+1
  i=i+1

13
26
39
52
65

In [ ]:
n=int(input('lower value'))
m=int(input('upper value'))
for i in range(n,m+1):
  if i>1:
    for a in range(2,i):
      if i%a==0:
        break
    else:
      print(i)

lower value3
upper value6
3
5

In [ ]:
i=2
f=0
n=int(input('lower number'))
m=int(input('upper number'))
b=range(n,m+1)
total=int(input())
count=0
while(i<b):
  if i%b==0:
    f=1
    break
  i=i+1
if f==0:
  print('prime number')
else:
  print('not a prime number')

lower number5
upper number15
4

TypeError: ignored