In [ ]:
#1.​ Write a Python script to sort (ascending and descending) a dictionary by value
import operator
d={1:2,3:4,4:3,2:1,0:0}
print('original list by value:',d)
sorted_d=sorted(d.items(),key=operator.itemgetter(1))
print('ascending order by value:',sorted_d)
sorted_d=dict(sorted(d.items(),key=operator.itemgetter(1),reverse=True))
print('descending order by value:',sorted_d)

original list by value: {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
ascending order by value: [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
descending order by value: {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
import operator
d={1:2,3:4,4:3,2:1,0:0}
print('original dictionary:',d)
a=dict(sorted(d.items(),key=operator.itemgetter(1)))
print('ascending dictionary:',a)
b=dict(sorted(d.items(),key=operator.itemgetter(1),reverse=True))
print("descending dictionary:",b)

original dictionary: {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
ascending dictionary: {0: 0, 2: 1, 1: 2, 4: 3, 3: 4}
descending dictionary: {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
#Write a Python program to add a key to a dictionary.
a={0:10, 1:20}
print(a)
a.update({2:12})
print(a)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 12}

In [ ]:
a={1:10,2:20}
a.update({3:30})
print(a)

{1: 10, 2: 20, 3: 30}

In [ ]:
#1.​ Write a Python script to sort (ascending and descending) a dictionary by value
import operator
a={1:2,5:4,7:3,8:1}
print("original list by value:",a)
sorted_a=sorted(a.items(),key=operator.itemgetter(1))
print("ascending order by value:",sorted_a)
sorted_a=dict(sorted(a.items(),key=operator.itemgetter(1),reverse=True))
print("descending order by value:",sorted_a)

original list by value: {1: 2, 5: 4, 7: 3, 8: 1}
ascending order by value: [(8, 1), (1, 2), (7, 3), (5, 4)]
descending order by value: {5: 4, 7: 3, 1: 2, 8: 1}

In [ ]:
#Write a Python program to add a key to a dictionary.
a={7:1,8:2}
print(a)
a.update({9:3})
print(a)

{7: 1, 8: 2}
{7: 1, 8: 2, 9: 3}

In [ ]:
#3.​ Write a Python script to concatenate following dictionaries to create a new one
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1,dic2,dic3):
  dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dict4={}
for i in (dic1,dic2,dic3):
  dict4.update(i)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#4.​ Write a Python script to check whether a given key already exists in a dictionary
def is_key_present(x):
  if x in d:
    print("key is present in the dictionary")
  else:
    print("key is not present in the dictionary")
d={1:10,2:20,3:30,4:40,5:50,6:60}
is_key_present(5)
is_key_present(9)

key is present in the dictionary
key is not present in the dictionary

In [ ]:
d={1:10,2:20,3:30,4:40,5:50,6:60}
for i in range(7):
  x=int(input())
  if x in d:
    print("key is present")
  else:
    print("not present")

6
key is present
7
not present
8
not present
2
key is present
1
key is present
5
key is present
2
key is present

In [ ]:
#5.​ Write a Python program to iterate over dictionaries using for loops. 
d={'x':10,'y':20,'z':30}
for dict_key,dict_value in d.items():
  print(dict_key,'->',dict_value)

x -> 10
y -> 20
z -> 30

In [ ]:
d={'x':10,'y':20,'z':30}
for a,b in d.items():
  print(a,'->',b)

x -> 10
y -> 20
z -> 30

In [ ]:
#6.​ Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
n=int(input("Input a number"))
d=dict()
for x in range(1,n+1):
  d[x]=x*x
print(d)

Input a number5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
n=int(input("Input the number"))
d={}
for x in range(1,n+1):
  d[x]=x*x
print(d)

Input the number5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#7.​ Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.
d=dict()
for x in range(1,16):
  d[x]=x*x
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#8.​ Write a Python script to merge two Python dictionaries
dic1={1:10,2:20,3:30}
dic2={4:40,5:50,6:60}
dic3={}
for x in (dic1,dic2):
  dic3.update(x)
print(dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#9.​ Write a Python program to iterate over dictionaries using for loops
dic1={'x':10,'y':20,'z':30}
for dic1_key,dic1_value in dic1.items():
  print(dic1_key,'->',dic1_value)

x -> 10
y -> 20
z -> 30

In [ ]:
#10.​ Write a Python program to sum all the items in a dictionary
dic2={'x':100,'y':200,'z':300}
print(sum(dic2.values()))

600

In [ ]:
dic2={'x':100,'y':200,'z':300}
result=0
for key in dic2:
  result=result+dic2[key]
print(result)

600

In [ ]:
dic2={'x':100,'y':200,'z':300}
print(sum(dic2.values()))

600

In [ ]:
11.#write a python program to multiple all items in a dictionary.
dic2={'x':100,'y':200,'z':300}
result=1
for key in dic2:
  result=result*dic2[key]
print(result)

6000000

In [ ]:
#12.Write a Python program to remove a key from a dictionary.
dic2={'x':100,'y':200,'z':300}
if 'y' in dic2:
  del(dic2['y'])
print(dic2)

{'x': 100, 'z': 300}

In [ ]:
#13.Write a Python program to map two lists into a dictionary.
keys=['red','green','blue']
values=['#FF0000','#008000','#0000FF']
dic2=dict(zip(keys,values))
print(dic2)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [ ]:
#14.Write a Python program to sort a given dictionary by key
color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}
for key in sorted(color_dict):
  print('%s : %s'%(key,color_dict[key]))

black : #000000
green : #008000
red : #FF0000
white : #FFFFFF

In [ ]:
color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}

In [ ]:
color_dict

{'black': '#000000', 'green': '#008000', 'red': '#FF0000', 'white': '#FFFFFF'}

In [ ]:
my_dict = {'x':500, 'y':5874, 'z': 560}
print(my_dict.keys())

dict_keys(['x', 'y', 'z'])

In [ ]:
#15.Write a Python program to get the maximum and minimum value in a dictionary.
my_dict = {'x':500, 'y':5874, 'z': 560}
highest=max(my_dict,key=my_dict.get)
hvalue=max(my_dict.values())
print(highest,':',hvalue) 
minimum=min(my_dict,key=my_dict.get)
mvalue=min(my_dict.values())
print(minimum,':',mvalue)

y : 5874
x : 500

In [ ]:
my_dict = {'x':500, 'y':5874, 'z': 560}
print("maximum value gained by:",max(my_dict, key=lambda x: my_dict[x]))
a=max(my_dict, key=lambda x: my_dict[x])
print("maximum value of the dictionary:",my_dict[a])
print("minimum value gained by:",min(my_dict, key=lambda x: my_dict[x]))
b=min(my_dict, key=lambda x: my_dict[x])
print("minimum value of the dictionary:",my_dict[b])

maximum value gained by: y
maximum value of the dictionary: 5874
minimum value gained by: x
minimum value of the dictionary: 500

In [ ]:
#16.Write a Python program to get a dictionary from an object's fields
class dictObj(object):
     def __init__(self):
         self.x = 'red'
         self.y = 'Yellow'
         self.z = 'Green'
     def do_nothing(self):
         pass
test = dictObj()
print(test.__dict__)

{'x': 'red', 'y': 'Yellow', 'z': 'Green'}

In [ ]:
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   }}

In [ ]:
dict1={}
list1=[]
for i in student_data:
  if student_data[i]['name'] in list1:
    pass
  else:
    list1.append(student_data[i]['name'])
    dict1[i]=student_data[i]
    print(i,student_data[i])

id1 {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}
id2 {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}
id4 {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}

In [ ]:
dict1

{'id1': {'class': ['V'],
  'name': ['Sara'],
  'subject_integration': ['english, math, science']},
 'id2': {'class': ['V'],
  'name': ['David'],
  'subject_integration': ['english, math, science']},
 'id4': {'class': ['V'],
  'name': ['Surya'],
  'subject_integration': ['english, math, science']}}

In [ ]:
dict1

{'class': ['V'],
 'name': ['Surya'],
 'subject_integration': ['english, math, science']}

In [ ]:
#18.​ Write a Python program to check a dictionary is empty or not
my_dict={}
if not bool(my_dict):
  print('the dictionary is empty')

the dictionary is empty

In [ ]:
#19. Write a Python program to combine two dictionary adding values for common keys
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
from collections import Counter
d1={'a':100, 'b':200,'c':300}
d2={'a':100, 'b':200,'d':300}
d=Counter(d1)+Counter(d2)
print(d)

Counter({'b': 400, 'c': 300, 'd': 300, 'a': 200})

In [ ]:
#20.​ Write a Python program to print all unique values in a dictionary
L=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},
{"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
list1=[]
for i in L:
  print(i)
  for j in i:
    print(j)
    list1.append(i[j])

{'V': 'S001'}
V
{'V': 'S002'}
V
{'VI': 'S001'}
VI
{'VI': 'S005'}
VI
{'VII': 'S005'}
VII
{'V': 'S009'}
V
{'VIII': 'S007'}
VIII

In [ ]:
set(list1)

{'S001', 'S002', 'S005', 'S007', 'S009'}

In [ ]:
#21.​ Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary
dict1= {'1':['a','b'], '2':['c','d']}
val=list(dict1.values())

In [ ]:
val

[['a', 'b'], ['c', 'd']]

In [ ]:
for i in range(0,len(val)-1):
  for j in val[i]:
    for k in val[i+1]:
      print(j+k)

ac
ad
bc
bd

In [ ]:
#25.​ Write a Python program to print a dictionary in table format
dict1 = {'c1':['1','2','3'],'c2':['4','5','6'],'c3':['7','8','9']}
print(*list(dict1.keys()))
for i in zip(*dict1.values()):
  print(*i)

c1 c2 c3
1 4 7
2 5 8
3 6 9

In [ ]:
#22.Write a Python program to find the highest 3 values of corresponding keys in a dictionary.
from heapq import nlargest
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  
three_largest=nlargest(3,my_dict,key=my_dict.get)
print(three_largest)

['b', 'e', 'c']

In [ ]:
from heapq import nlargest
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  
three_largest=nlargest(3,my_dict,key=my_dict.get)
print(*three_largest)

b e c

In [ ]:
#23.​ Write a Python program to combine values in python list of dictionaries
from collections import Counter
data= [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300},{'item': 'item1', 'amount': 750}]
result=Counter()
for d in data:
  result[d['item']]+=d['amount']
print(result)

Counter({'item1': 1150, 'item2': 300})

In [ ]:
data= [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300},{'item': 'item1', 'amount': 750}]
for d in data:
  print(d)

{'item': 'item1', 'amount': 400}
{'item': 'item2', 'amount': 300}
{'item': 'item1', 'amount': 750}