In [ ]:
#vehicle road select
a=int(input("vehicle weight"))
b=int(input("road width"))
if 200>a>100 and b<5:
  print("go to left")
elif a<100 and b>5:
  print("go to right")
else:
  print("go to middle")

vehicle weight200
road width5
go to middle

In [ ]:
#put even numbers in a list
list1=[1,2,2,3,4,5,8,10]
list2=[]
for i in list1:
  if i%2==0:
    list2.append(i)
  else:
    continue
print(list2)

[2, 2, 4, 8, 10]

In [ ]:
list1=[1,2,3,4,5,6]
list3=[i*3 for i in list1 if i%2!=0]

In [ ]:
list3

[3, 9, 15]

In [ ]:
#find the numbers between 0 to 100 divided by 13
a=int(input())
count=0
for i in range(1,100):
  if i%13==0:
    print(i)
    count=count+1
    print("count",count)
  if count>=a:
    break

7
13
count 1
26
count 2
39
count 3
52
count 4
65
count 5
78
count 6
91
count 7

In [ ]:
#let's check whether a number is armstrong or not
n='1634'
sum=0
for i in n:
  i=int(i)**4
  #print(i)
  sum=sum+i
  #print(sum)
if sum==int(n):
  print("n is an armstrong number")
else:
  print("not an armstrong number")

n is an armstrong number

In [ ]:
#find armstrong number between 0 to 500
b=range(0,500)
count=0
for i in b:
  sum=0
  for a in str(i):
    a=int(a)**3
    sum=sum+a
  if sum==int(i):
     print(sum,"armstrong")
     count=count+1
     print(count)

0 armstrong
1
1 armstrong
2
153 armstrong
3
370 armstrong
4
371 armstrong
5
407 armstrong
6

In [ ]:
count=0
i=1
while(count<5):
  if i%13==0:
    print(i)
    count=count+1
    print(count)
  i=i+1

13
1
26
2
39
3
52
4
65
5

In [ ]:
#prime number
num=int(input())
count=0
for i in range(1,num+1):
  if num%i==0:
    count=count+1
if count==2:
  print(num,'prime')
else:
  print("not prime")

7
7 prime

In [ ]:
#find prime numbers between 0 to 99:
#lower=int(input("lower value"))
#upper=int(input("upper value"))
for num in range(0,100):
  if num>1:
    for i in range(2,num):
      if (num%i)==0:
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

function

In [ ]:
def numbers(a,b):
  sum=a+b
  mul=a*b
  return(sum,mul)
result1,result2=numbers(10,20)

In [ ]:
result1

30

In [ ]:
result2

200

In [ ]:
def is_even_or_odd(n):
  if n%2==0:
    s='even'
  else:
    s='odd'
  return(s)
is_even_or_odd(5)

'odd'

In [ ]:
list1=[1,3,5,4]
sum=0
for i in list1:
   sum=sum+i
print(sum)

13

In [ ]:
list1=[1,3,5,4]
mul=1
for i in list1:
   mul=mul*i
print(mul)

60

In [ ]:
list1=[1,3,5,4]
max=list1[0]
size=len(list1)
for i in range(0,size):
  if list1[i]>max:
    max=list1[i]
print(max)

5

In [ ]:
list1=[1,3,5,4]
min=list1[0]
size=len(list1)
for i in range(0,size):
  if min>list1[i]:
    min=list1[i]
print(min)

1

In [ ]:
#5
list1=['abc', 'xyz', 'aba', '1221']
count=0
for i in list1:
  if len(i)>2 and i[0]==i[-1]:
    print(i)
    count=count+1
print(count)

aba
1221
2

In [ ]:
#6
list1=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list2=[]
for i in list1:
  list2.append((i[1],i[0]))
list2.sort()
list2
list3=[]
for j in list2:
  print(j)
  list3.append((j[1],j[0]))
list3

(1, 2)
(2, 1)
(3, 2)
(4, 4)
(5, 2)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
#6
def reverse_tuple(list_of_tuple):
  list3=[]
  for i in list_of_tuple:
    list3.append((i[1],i[0]))
  return(list3)
list2=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
result=reverse_tuple(list2)
result.sort()
result=reverse_tuple(result)
print(result)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
#7
list1=[1,2,2,4,5,6,6,7]
list2=[]
for i in list1:
  if i in list2:
    pass
  else:
    list2.append(i)
print(list2)

[1, 2, 4, 5, 6, 7]

In [ ]:
#8
list1=[]
if not list1:
  print("empty")

empty

In [ ]:
#10
def words(n,str):
  words_len=[]
  txt=str.split()
  print(txt)
  for i in txt:
    if len(i)>n:
      words_len.append(i)
  return(words_len)
print(words(3,"The quick brown lazy fox jump over the lazy dog"))

['The', 'quick', 'brown', 'lazy', 'fox', 'jump', 'over', 'the', 'lazy', 'dog']
['quick', 'brown', 'lazy', 'jump', 'over', 'lazy']

In [ ]:
#11
list1=[1,2,3,4,5,6]
list2=[1,7,8,9,10]
for i in list1:
  for j in list2:
    if i==j:
      print(True)

True

In [ ]:
#12
list1=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
list2=[]
for i in range(len(list1)):
  if i in (0,4,5):
    pass
  else:
    list2.append(list1[i])
print(list2)

['Green', 'White', 'Black']

In [ ]:
list1=[1,2,3,4,5,6]
for index,element in enumerate(list1):
  print(index,element)

0 1
1 2
2 3
3 4
4 5
5 6

In [ ]:
#13
a=3
b=4
c=6
[[[('* '*a).split()]*b]*c]

[[[['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']],
  [['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']],
  [['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']],
  [['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']],
  [['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']],
  [['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']]]]